
.productContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    justify-content: start;
    width: 1280px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: 800px;
    margin: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-subtitle {
    color: #6c757d;
}

.card-text {
    margin-bottom: 5px;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}